<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Bear Spendings</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/bills">Bills</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/add-bill">Add Bill</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)=exportAll()>Export All</a></li>
      </ul>
    </div>
  </div>
</nav>
