<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset2">
      <form [formGroup]="addBillForm" (ngSubmit)="onAddBill()">
        <div class="form-group">
          <label for="store">Store:</label>
          <select id="store" class="form-control" formControlName="store" (change)="onStoreSelected()">
            <option [value]="null" disabled="disabled">Please select a store</option>
            <option *ngFor="let store of stores" [value]="store.id">{{store.name}}</option>
          </select>
          <span
            *ngIf="!addBillForm.get('store').valid && addBillForm.get('store').touched"
            class="help-block" style="color:#a94442">Please select a store!</span>
        </div>
        <div class="form-group" *ngIf="addBillForm.get('store').valid">
          <label>Top Store Products:</label>
          <ul class="list-group">
            <li *ngFor="let p of topStoreProducts | async" class="list-group-item">{{p.name}} - {{p.price}} MDL</li>
          </ul>
        </div>
        <h4>Bill Item</h4>
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="bill-item-product">Product:</label>
            <input id="bill-item-product" type="text" class="form-control">
          </div>
          <div class="col-xs-2">
            <label for="bill-item-price">Price:</label>
            <input id="bill-item-price" type="number" class="form-control">
          </div>
          <div class="col-xs-2">
            <label for="bill-item-quantity">Quantity:</label>
            <input id="bill-item-quantity" type="number" class="form-control" size="2">
          </div>
          <div class="col-xs-1">
            <label for="add-to-bill-btn">&nbsp;</label>
            <button type="button" class="btn btn-default btn-primary" aria-label="Bill Align"
                    [disabled]="true"
                    id="add-to-bill-btn">
              <span class="btn-label glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!addBillForm.valid">Add Bill</button>
      </form>
    </div>
  </div>
</div>
