<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset2">
    <p-table [value]='bills'
             [lazy]='true' (onLazyLoad)='loadBills($event)' [totalRecords]='totalRecords' [loading]='loading'
             dataKey='id' [paginator]='true' [rows]='PAGE_SIZE'>
      <ng-template pTemplate="header">
        <tr>
          <th class="row-expander"></th>
          <th>Product</th>
          <th>Price Per Unit (MDL)</th>
          <th>Quantity</th>
          <th>Total Price (MDL)</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bill let-expanded="expanded">
        <tr>
          <td [colSpan]="5">
            <a href="#" [pRowToggler]="bill">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
            <span style="margin-left: 5px">
              {{formatMoment(bill.orderDate)}}
              {{(getStore(bill.storeId) | async)?.name}}
              <b>{{bill.total || 0.00 | number: '2.2'}} MDL</b>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-bill>
        <tr>
          <td [colSpan]="5" style="padding: 0">
            <p-table [value]="bill.items">
              <ng-template pTemplate="body" let-billItem>
                <tr>
                  <td class="row-expander"></td>
                  <td>{{(getProduct(billItem.productId)| async)?.name}}</td>
                  <td>{{billItem.pricePerUnit}}</td>
                  <td>{{billItem.quantity}}</td>
                  <td>{{billItem.totalPrice}}</td>
                </tr>
              </ng-template>
            </p-table>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


